<a href="https://colab.research.google.com/github/Pedrobertuola/Mercado-Financeiro/blob/main/PriceCryptoPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
import datetime as dt

In [ ]:
crypto_currency = 'TRX'
against_currency = 'USD'

In [ ]:
start = dt.datetime(2018,1,1)
end= dt.datetime.now()
df = web.DataReader(f'{crypto_currency}-{against_currency}', 'yahoo', start, end)

In [ ]:


#Show the data
df = df.dropna()

In [ ]:
df = df[['Close']]
df

               Close
Date
2018-01-01  0.051695
2018-01-02  0.078682
2018-01-03  0.094703
2018-01-04  0.207974
2018-01-05  0.220555
...              ...
2021-05-12  0.121473
2021-05-13  0.124776
2021-05-14  0.120691
2021-05-15  0.119506
2021-05-18  0.114747

[1229 rows x 1 columns]

In [ ]:
#Create a variable to store the number of days into the future that we want to predict
prediction_days =1
#Create a new column called Prediction
df['Prediction'] = df[['Close']].shift(-prediction_days)

#show the datas
df

               Close  Prediction
Date
2018-01-01  0.051695    0.078682
2018-01-02  0.078682    0.094703
2018-01-03  0.094703    0.207974
2018-01-04  0.207974    0.220555
2018-01-05  0.220555    0.174797
...              ...         ...
2021-05-12  0.121473    0.124776
2021-05-13  0.124776    0.120691
2021-05-14  0.120691    0.119506
2021-05-15  0.119506    0.114747
2021-05-18  0.114747         NaN

[1229 rows x 2 columns]

In [ ]:
#Create the independent data set (X)
X = np.array(df.drop(['Prediction'], 1))
#Remove the last n+1 rows of data where n is the prediction_days
X = X[:len(df) -prediction_days -1]
#Print the data
print(X)

[[0.051695]
 [0.078682]
 [0.094703]
 ...
 [0.121473]
 [0.124776]
 [0.120691]]

In [ ]:
#Create a dependent data set (y)
y = np.array(df['Prediction'])
#Get all of the y values except the last n+1 rows
y =  y[:-prediction_days -1 ]
#Show the data
print(y)

[0.078682 0.094703 0.207974 ... 0.124776 0.120691 0.119506]

In [ ]:
#Split the data into 80% training data set and a 20% testing data set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
#Use the randomForestRegressor for the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(n_estimators = 2, random_state =587)
forest.fit(x_train, y_train)
print(forest.score(x_test, y_test))

0.8957766563085383

In [ ]:
#Show how close the predicted values and the actual values are
prediction = forest.predict(x_test)
#Print the predicted test values
print(prediction)
print()
#Print the actual values
print(y_test)

[0.01724625 0.027819   0.048028   0.02228223 0.01011967 0.02263596
 0.01175628 0.06103    0.031176   0.01724625 0.1211215  0.01334525
 0.01794297 0.01547923 0.025082   0.013623   0.017256   0.02322667
 0.152484   0.0649     0.010365   0.01443622 0.0443623  0.0145635
 0.0243872  0.027062   0.03148642 0.01468865 0.02429933 0.0366475
 0.02000567 0.02327916 0.02583088 0.014283   0.10895542 0.0201248
 0.0138905  0.0303922  0.030423   0.069992   0.02722    0.1227445
 0.04872067 0.02633425 0.03046425 0.038423   0.02482    0.03043525
 0.02653133 0.0380545  0.02585209 0.0654385  0.04474825 0.036256
 0.0654385  0.0161455  0.02808357 0.0130119  0.043075   0.03497264
 0.018179   0.0649     0.0178825  0.01794297 0.01466172 0.025739
 0.0145635  0.0270115  0.01333125 0.02012649 0.02012649 0.024138
 0.03758075 0.01763567 0.0155865  0.016477   0.01929521 0.053793
 0.014283   0.02403852 0.02172286 0.10908    0.01744017 0.0243872
 0.02695459 0.016785   0.01929521 0.016785   0.01475708 0.02115617
 0.02322667 0.02954045 0.084778   0.02381325 0.014283   0.02660715
 0.028558   0.03255475 0.02943125 0.02403852 0.0246025  0.02954045
 0.02002125 0.01437922 0.0547565  0.02633425 0.01872665 0.017028
 0.02348978 0.02445975 0.01583657 0.01175628 0.01286217 0.03831725
 0.01627765 0.0547565  0.119506   0.0641525  0.02489183 0.0366158
 0.22055499 0.03021333 0.02525775 0.050737   0.046886   0.01427333
 0.01175628 0.0260409  0.053437   0.0139575  0.0226811  0.02322667
 0.02327916 0.0147877  0.0125109  0.073574   0.013623   0.030699
 0.0105665  0.0243872  0.03043525 0.02260256 0.01898778 0.02516683
 0.09336    0.075755   0.02263596 0.0765135  0.02261958 0.01952578
 0.02228223 0.01794297 0.01906499 0.046606   0.0366158  0.031293
 0.043075   0.027062   0.03634275 0.023281   0.01627765 0.01702975
 0.01164732 0.01627765 0.02263596 0.02695459 0.025153   0.053437
 0.0132063  0.030423   0.01729775 0.036975   0.01334525 0.02660715
 0.02205673 0.0382028  0.025426   0.0138905  0.0291185  0.027933
 0.06865375 0.02374265 0.057577   0.0143315  0.026888   0.0380215
 0.021429   0.025732   0.01595367 0.01418722 0.015803   0.02012649
 0.02000567 0.01607269 0.1208895  0.02174561 0.041533   0.0139575
 0.024232   0.01692675 0.04978475 0.0547565  0.020021   0.119506
 0.03171333 0.018517   0.014946   0.0130119  0.017028   0.0132063
 0.01607269 0.020949   0.023868   0.01794297 0.022185   0.024232
 0.0634935  0.129373   0.02327916 0.04119    0.02805492 0.0130119
 0.1252655  0.041533   0.041533   0.039759   0.036478   0.021429
 0.02699127 0.018517   0.03533288 0.027782   0.0382028  0.03968875
 0.0147877  0.01906499 0.02381325 0.02261958 0.04474825 0.02379417
 0.021429   0.130755   0.04978    0.020868   0.01444111 0.01822   ]

[0.017906   0.030388   0.037933   0.022192   0.009885   0.021999
 0.010749   0.049606   0.027866   0.0174     0.11013    0.013225
 0.01719    0.01569    0.025273   0.014019   0.017608   0.023023
 0.157435   0.060541   0.011229   0.014917   0.049082   0.013876
 0.024637   0.0272     0.029363   0.015356   0.022937   0.034373
 0.022035   0.023      0.023822   0.016064   0.102706   0.020396
 0.013306   0.030708   0.030792   0.073162   0.029532   0.12579399
 0.046849   0.028659   0.026714   0.037369   0.027262   0.029187
 0.026935   0.037106   0.025727   0.063563   0.044472   0.034439
 0.053761   0.017561   0.026559   0.012373   0.047818   0.030583
 0.016941   0.055622   0.017666   0.0176     0.014789   0.027545
 0.015113   0.027239   0.013339   0.019676   0.020352   0.023071
 0.034451   0.017495   0.016629   0.019887   0.019677   0.054914
 0.015505   0.023366   0.022053   0.13672499 0.017957   0.02561
 0.02627    0.017385   0.020776   0.01439    0.014831   0.022331
 0.023997   0.031523   0.093777   0.024209   0.016804   0.027042
 0.030329   0.031353   0.030317   0.024196   0.022839   0.030101
 0.019509   0.016314   0.040799   0.026961   0.019389   0.017953
 0.022564   0.025941   0.015001   0.011246   0.013601   0.046034
 0.016198   0.046189   0.121473   0.058041   0.024937   0.032544
 0.174797   0.038112   0.025321   0.05138    0.051542   0.013862
 0.011575   0.024362   0.058793   0.014559   0.02032    0.022811
 0.023613   0.01473    0.011661   0.089145   0.013743   0.027901
 0.009762   0.026325   0.029282   0.023292   0.019059   0.025044
 0.207974   0.074037   0.021728   0.054488   0.020004   0.019521
 0.022479   0.018683   0.018964   0.045173   0.032643   0.035067
 0.04287    0.023586   0.034502   0.020222   0.015993   0.017833
 0.012603   0.016411   0.022648   0.024727   0.027697   0.053677
 0.013058   0.032927   0.018227   0.039529   0.012784   0.026558
 0.02128    0.038895   0.02649    0.0133     0.033023   0.035755
 0.064001   0.023643   0.056079   0.013633   0.028509   0.030161
 0.022481   0.025054   0.015512   0.014318   0.017397   0.019053
 0.01936    0.015533   0.124374   0.020325   0.038601   0.014252
 0.024073   0.018017   0.078682   0.043356   0.016253   0.14635301
 0.030602   0.019947   0.015004   0.012586   0.017641   0.013695
 0.016375   0.018682   0.023171   0.018083   0.023622   0.023592
 0.059179   0.117295   0.023144   0.041256   0.030853   0.013376
 0.110282   0.045311   0.04246    0.038438   0.03001    0.020157
 0.025944   0.020447   0.034997   0.029206   0.037861   0.041769
 0.015695   0.018525   0.02518    0.02107    0.042875   0.024617
 0.022703   0.122353   0.03562    0.018143   0.016146   0.015964  ]

In [ ]:
#Get the validation data for the model
#Create a variable to store all of the rows in the data set except the last n rows
temp_df = df[:-prediction_days]
#Create a variable to store the independent price value
x_val = temp_df.tail(1)['Close'][0]
#Show the data
print(x_val)

0.11950600147247314

In [ ]:
prediction = forest.predict([[x_val]])
#Print the price of Dogecoin for the next n days

print(f'The price of {crypto_currency} in ', prediction_days, 'day(s) is predicted to be', prediction)
print('The actual price was', temp_df.tail(1)['Prediction'][0])

The price of TRX in  1 day(s) is predicted to be [0.119506]
The actual price was 0.11474662274122238

In [ ]:
ganho= float(((prediction-temp_df.tail(1)['Prediction'][0])/temp_df.tail(1)['Prediction'][0])*100)
print('Ganho previsto com operação', ganho, '%')

Ganho previsto com operação 4.147728811142579 %